* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 10px;
    border: solid 1px black;
    margin-right: 300px;
    margin-left: 300px;
}
.header {
    border: solid 1px black;
    background-color: rgb(203, 203, 203);
    width: auto;
    height: 200px;
    padding: 10px;
}
.nav {
    border: solid 1px black;
    background-color: skyblue;
    width: auto;
    height: 90px;
}
.section-1 {
    border: solid 1px black;
    background-color: lightgreen;
    margin: 10px 10px 10px 0;
    height: 700px;
}

.header-section {
    
}
.p-1 {
    
}
.p-2 {
    
}
.aside {
    
}