:root {
    --clr-base-900: hsl(217, 54%, 11%);
    --clr-card-base-800: hsl(216, 50%, 16%);
    --clr-accent-700: hsl(215, 32%, 27%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --clr-primary-700: hsl(215, 51%, 70%);
    --clr-secondary-500: hsl(178, 100%, 50%);
    

    --ff-base: 'Outfit', sans-serif;;

    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 600;

    --fs-normal: 1rem;
}

/* General Styling */
 body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    color: var(--clr-primary-700);
    background-color: var(--clr-base-900);

    display: grid;
    place-content: center;
    margin: 2rem;
 }

 /* Utilities */
.flex-group {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-accent-700);
}
.creator {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 0.8rem;
}

 /* Product Styles */
 .product {
    --content-padding: 1.5rem;

    width: 400px;
    background-color: var(--clr-card-base-800);
    display: grid;
    border-radius: 1rem;
    padding: var(--content-padding);
    overflow: hidden;
 }
 .product__img {
    border-radius: 1rem;
    overflow: hidden;
 }
 .product__content {
    display: grid;
    padding-top: 1rem;
    gap: 0.3rem;
 }
 .product__title {
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    font-size: 1.25rem;
 }
.product__price {
    color: var(--clr-secondary-500);
    font-weight: var(--fw-bold);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.product__time-limit {
    display: flex;
    align-items: center;
    gap: 0.5rem;   
}
.product__desc {
    font-weight: var(--fw-light);
    font-size: var(--fs-normal);
}
.product__creator-img {
    width: 30px;
    border: 1px solid var(--clr-neutral-100);
    border-radius: 1rem;
}
.product__creator-name {
    font-weight: var(--fw-light);
    font-size: var(--fs-normal);
}
a {
    text-decoration: none;
    color: var(--clr-neutral-100);
}
